bin/
obj/
.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/olbaid-mortel-7720/DesignTimeBuild/.dtbcache.v2
/.vs/olbaid-mortel-7720/FileContentIndex/0085afdc-a875-436e-8ca2-b2e42afa198a.vsidx
/.vs/olbaid-mortel-7720/FileContentIndex/2adb3538-8f27-4aec-b1c3-50a48bc77553.vsidx
/.vs/olbaid-mortel-7720/FileContentIndex/42e4ce6a-3363-4052-8653-335bfd60c59f.vsidx
/.vs/olbaid-mortel-7720/FileContentIndex/6dadb4ee-1299-4f11-9ac3-0fab2f96b0dd.vsidx
/.vs/olbaid-mortel-7720/FileContentIndex/read.lock
/.vs/olbaid-mortel-7720/v17/.futdcache.v2
/.vs/olbaid-mortel-7720/v17/.suo
/.vs/ProjectEvaluation/olbaid-mortel-7720.metadata.v5.1
/.vs/ProjectEvaluation/olbaid-mortel-7720.projects.v5.1
/.gitignore
